---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="svg-link" viewBox="0 0 24 24">
      <title>Link</title>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link">
        <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
      </svg>
    </symbol>
  </svg>

  <div id="main-content-wrap" class="main-content-wrap">
    {% unless page.url == "/" %}
      {% if page.parent %}
        <nav aria-label="Breadcrumb" class="breadcrumb-nav">
          <ol class="breadcrumb-nav-list">
            {% if page.grand_parent %}
              <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.grand_parent }}</a></li>
              <li class="breadcrumb-nav-list-item"><a href="{{ second_level_url }}">{{ page.parent }}</a></li>
            {% else %}
              <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.parent }}</a></li>
            {% endif %}
            <li class="breadcrumb-nav-list-item"><span>{{ page.title }}</span></li>
          </ol>
        </nav>
      {% endif %}
    {% endunless %}
    <div id="main-content" class="main-content" role="main">
      {% if site.heading_anchors != false %}
        {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
  </div>
</body>
</html>
